* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;

 }

 /* navbar styling */
 .navbar {
     position: fixed;
     width: 100%;
     z-index: 999;
     padding: 10px 0;
     background-color: rgb(221, 99, 221);
     font-family: cursive;

 }

 .navbar .max-width {
     display: flex;
     align-items: center;
     justify-content: space-between;

 }

 .max-width {

     max-width: 1400px;
     padding: 0 80px;
     margin: auto;
 }
logo a {
     color: white;
     font-size: 3em;
     font-weight: 60;
 }

 .menu li a {
     color: white;
     font-size: 18px;
     font-weight: 500;
     margin-left: 25px;


 }
