* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;

 }

 /* navbar styling */
 .navbar {
     position: fixed;
     width: 100%;
     z-index: 999;
     padding: 10px 0;
     background-color: rgb(221, 99, 221);
     font-family: cursive;

 }
