* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     text-decoration: none;

 }

 /* navbar styling */
 .navbar {
     position: fixed;
     width: 100%;
     z-index: 999;
     padding: 10px 0;
     background-color: rgb(221, 99, 221);
     font-family: cursive;

 }

 .navbar .max-width {
     display: flex;
     align-items: center;
     justify-content: space-between;

 }

 .max-width {

     max-width: 1400px;
     padding: 0 80px;
     margin: auto;
 }
logo a {
     color: white;
     font-size: 3em;
     font-weight: 60;
 }

 .menu li a {
     color: white;
     font-size: 18px;
     font-weight: 500;
     margin-left: 25px;


 }
.menu li {
     list-style: none;
     display: inline-block;
 }

 .menu li a {
     color: white;
     font-size: 18px;
     font-weight: 500;
     margin-left: 25px;
     transition: color 0.3s ease;
 }
.menu li a:hover {
     color: rgb(41, 41, 41);
 }

 .navbar.sticky .menu li a:hover {
     color: white;
 }

 /* menu btn styling */

.menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
} 


 /* Home section styling */
 .home {
     display: flex;
      background: url("images/mike.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     height: 100vh;
     color: white;
     min-height: 600px;
     font-size: 2em;
     font-family: cursive;
 }

 .home .max-width {
     margin: auto 0 auto 40px;
 }

 .one {
     color: rgb(41, 41, 41);
 }

 .first-text {
     font-size: 1.2em;
 }

 .sec-text {
     font-size: 1.7em;
     font-weight: 600;
     margin-left: -3px;
 }

 .third-text {
     font-size: 1.3em;
     margin: 5px 0;
 }

 .home .home-content a {
     display: inline-block;
     background: rgb(221, 99, 221);
     color: white;
     font-size: 25px;
     padding: 12px 36px;
     margin-top: 20px;
     border-radius: 6px;
     border: 2px solid rgb(221, 99, 221);
     transition: all 0.3 ease;
 }

 .home .home-content a:hover {
     color: rgb(41, 41, 41);
     background: none;
 }
 /* all related sections styling code */
 section {
    padding: 100px 0;
}
